# Data_Types in Python

Primitive_Type

1_Intetger
2_Floating
3_Boolean

String

1_String         
2_Slicing_&_Indexing        
3_String_class_methods

> ### Primary_Data_types_in_Python:

-1_Strings (use for text analysis)
2_Integers
3_Floating
- 4_Boolean

In [1]:
name = "Suneel Shivani"
age = 21
age2= 21.0
yonger = True

print(type(name))
print(type(age))
print(type(age2))
print(type(yonger))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

> #### Integer

In [2]:
age = 5
print(age)

5

> #### Floating/in_Decimal

In [4]:
price = 100.0
print(price)

100.0

> #### Boolean

In [3]:
brith_year = 1947
age = 2024 - brith_year
criteria = 18
elgibilty = age >= criteria
print("you elgilbilty to vote is?", elgibilty)

# Assignment 1

#applicant_income = 50000
is_good_credit = True
price_of_house = 100000
#discount = 10/100 #True

#elgibilty = applicant_income >= 50000
#print("You elgibilable for discount is :", discount)

applicant_income = 0.1*price_of_house if is_good_credit else 0.2*price_of_house
print(applicant_income)

you elgilbilty to vote is? True
10000.0

# Strings

In [5]:
#_Print_Strings_as_output_on_screen

print("Hello World")
print("Suneel Shivani")
print("Hello Students. ")
print("Hey, Good Morning Dear.")
print("My name is Suneel.")
print("My age is 21.")
print("My name is Suneel,", "My age is 21.")
print("23")

Hello World
Suneel Shivani
Hello Students.
Hey, Good Morning Dear.
My name is Suneel.
My age is 21.
My name is Suneel, My age is 21.
23

> #### String_Slicing

In [6]:
str = email = "username@domain.com"
print(str[0:8])
print(str[:4]) #_print(str[0:4])
print(str[9:]) #_print(str[9:len(str)])

str = name ='Aleem'
print(str[0:5]) #RangeFind

username
user
domain.com
Aleem

> #### String_Indexing

In [7]:
str = name = "Suneel Shivani"

print(str[0])
print(str[8])
print(str[9])

S
h
i

> #### String_class_methods_or_Strings_functions

In [8]:
str = name = "Suneel Shivani"

print(name.upper())
print(name.lower())
print(name.find('h'))

print(name.replace("Shivani", "Sharma" ))
print("i" in name)
print(name.index('a'))
print(name.count('i'))

print(len(str)) #_Find_the_Lenght_of_words.

#_

email = 'xyz@domain.com'
domain_name = email.split("@")
print(domain_name)

SUNEEL SHIVANI
suneel shivani
8
Suneel Sharma
True
11
2
14
['xyz', 'domain.com']