# 1_List

> List is a collection which is ordered and changeable. Allows duplicate members.

In [1]:
# LIST_SLICING

list = [1,2,3,4,5,6,7,8,9,10]

print(list[1:5])
print(list[1::2])
print(list[::2])
print(list[-7:-4])
print(list[1:-2])

[2, 3, 4, 5]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[4, 5, 6]
[2, 3, 4, 5, 6, 7, 8]

In [3]:
# LIST_METHHODS

list1 = ["Suneel", 123, "03201130124", "abc_sector"]

print(list1)

# insert

list1.insert(1, 555)
print(list1)

list1.insert(3, "Pyhton")
print(list1)

# extend

information_of_joining = ["Amir", "21-12-2020"]
salary = ["12%"]
information_of_joining.extend(salary)
print(information_of_joining)

list1.remove(123)
print(list1)

# del it is a keyword
# del deletes values or object from the list using an index

del list1[0]
print(list1)

['Suneel', 123, '03201130124', 'abc_sector']
['Suneel', 555, 123, '03201130124', 'abc_sector']
['Suneel', 555, 123, 'Pyhton', '03201130124', 'abc_sector']
['Amir', '21-12-2020', '12%']
['Suneel', 555, 'Pyhton', '03201130124', 'abc_sector']
[555, 'Pyhton', '03201130124', 'abc_sector']

In [4]:
basket = []
shop = ["Dozen Banana" , "apple"]
amount = [499,100 ]

basket.insert(0, shop[0])
basket.insert(1, shop[1])
#basket.insert(1, amount)
print(basket)

basket.append(shop)
basket.append(amount)
print(basket)

['Dozen Banana', 'apple']
['Dozen Banana', 'apple', ['Dozen Banana', 'apple'], [499, 100]]

In [5]:
shop = ["Chocolates", "Apples" , "Pens" , "Rulers"]
print("Available items in shop:", shop)
amount_of_items = [120 , 250 , 120 , 60]

Basket = []
print ("Basket is empty", Basket)

Basket.insert(0 , "Chocolates")
Basket.insert(1 , "Pens")
print(Basket)
print("Items bought : /n", Basket[0],  amount_of_items[0] , "/n" , Basket[1] ,  amount_of_items[2] )

TotalAmount = amount_of_items[0] + amount_of_items[2]
print("Total amount have to pay : ", TotalAmount)

Available items in shop: ['Chocolates', 'Apples', 'Pens', 'Rulers']
Basket is empty []
['Chocolates', 'Pens']
Items bought : /n Chocolates 120 /n Pens 120
Total amount have to pay :  240

In [6]:
contact_names = ["Suneel Gupta","Fahad Najeeb","M.Aleem","Noman Ali"]
phone_numb = [45563, 46227, 67388, 56223]

Contact_lists = []

# Adding the names in contact list.

Contact_lists.insert(0, "Suneel Gupta")
Contact_lists.insert(1, "Fahad Najeeb")
Contact_lists.insert(2, "M.Aleem")
Contact_lists.insert(3, "Noman Ali")
print(Contact_lists)

# Adding phone numbers
print(Contact_lists [0] , phone_numb[0] , "/n",Contact_lists [1] , phone_numb[1], "/n", Contact_lists [2] , phone_numb[2], "/n" , Contact_lists [3] , phone_numb[3])

# Remove/Delete from list
Contact_lists.pop(0)
print(Contact_lists)

['Suneel Gupta', 'Fahad Najeeb', 'M.Aleem', 'Noman Ali']
Suneel Gupta 45563 /n Fahad Najeeb 46227 /n M.Aleem 67388 /n Noman Ali 56223
['Fahad Najeeb', 'M.Aleem', 'Noman Ali']

# 2_Tuple

> Tuple is a collection which is ordered and unchangeable. Allows duplicate members                      
> Tuple => unchangeable/ordered/indexed

In [2]:
#_Tuple => unchangeable/ordered/indexed

# packing tuple

mytuple = ("name", 23 )
print(mytuple)
print(mytuple[0])
print(type(mytuple))

collectionintupple = ("ab" ,"cd" ,"Ef" ,"gh" , "hi", "jk", "lm")
print(collectionintupple)

#_unpacking tuple

mytuple2 = ("ab", "cd", "ef")
(green , yellow, red) = mytuple2;
print(mytuple2)

mytuple2 = ("ab", "cd", "ef","gh")
(green , *yellow, red) = mytuple2;
print(green , yellow, red)

# tuple is index it means it can have duplicate value

tuple1 = (1,2,3,4,5,6,7,7,2)
t = list(tuple1)
print(t)

t.remove(1)
print(t)

('name', 23)
name
<class 'tuple'>
('ab', 'cd', 'Ef', 'gh', 'hi', 'jk', 'lm')
('ab', 'cd', 'ef')
ab ['cd', 'ef'] gh
[1, 2, 3, 4, 5, 6, 7, 7, 2]
[2, 3, 4, 5, 6, 7, 7, 2]

In [4]:
# Print the number of items in the tuple:

print(len(collectionintupple))

7

In [3]:
mytuple2 = ("ab", "cd", "ef","gh")
t1 = list(mytuple2)
print(t1)

del t1[0]
print(t1)

['ab', 'cd', 'ef', 'gh']
['cd', 'ef', 'gh']

In [17]:
t1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
(yellow, green, red) =t1[:5] , t1[6:10], t1[10:]
print(yellow, green, red)

if 6 in t1:
  print("Exist")
else:
   print("Does't exist")

(1, 2, 3, 4, 5) (7, 8, 9, 10) (11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
Exist

In [9]:
# Check if "apple" is present in the tuple:

thistuple3 = ("apple", "banana", "cherry")
if "lolo" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else:
  print("No it doesn't exist")

No it doesn't exist

In [6]:
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

n1=(1)
print(n1)
print(type(n1))

n2=(2, )
print(n2)
print(type(n2))

1
<class 'int'>
(2,)
<class 'tuple'>

In [7]:
# acces value from tupple

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])

thistuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple1[2:5])
print(thistuple1[2::])
print(thistuple1[:4])
print(thistuple1[2:])
print(thistuple1[-4:-1])

banana
cherry
('cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [17]:
# update tupple
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

a=(1,2,3,4,5)
b=list(a)
b[1]=9
print(b)
print(type(b))

# Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

# 1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

number=(1,2,3,4,5,6,7,8)
print(number)
mynumlist=list(number)
mynumlist.append(9)
number=tuple(mynumlist)
print(number)

[1, 9, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [1]:
# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

n1=(1,2,3)
print(n1)
n2=(3,4,5)
print(n2)
n1+=n2
print(n1)

(1, 2, 3)
(3, 4, 5)
(1, 2, 3, 3, 4, 5)

In [2]:
# delete in tupple is noty possible again this is how we can perform deletation
n3=(10,12,14,16,18,20)
print(n3)
n4=list(n3)
n4.remove(12)
#del n4[0]
#print((n4))
n3=tuple(n4)
print(n3)

(10, 12, 14, 16, 18, 20)
(10, 14, 16, 18, 20)

In [13]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(ab,cd, *ef)=fruits
print(ab)
print(cd)
print(ef)

(ab, *cd, ef)=fruits
print(ab)
print(cd)
print(ef)

#loop through a tuple
print("printing the tupple using loop")
for x in fruits:
  print(x)

#using loop through index number:
print("Using loop through index number")
for y in range(len(fruits)):
  print(fruits[y])

print("Printing using while loop")
i=0
while i<len(fruits):
  print(fruits[i])
  i+=1
#join tupple
print("Join tupple")
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

print("Multiply tuple: ")
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

#method 1 count repetation
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)
#method 2 index tells the position of value
x=thistuple.index(8)
print(x)

apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['banana', 'cherry', 'strawberry']
raspberry
printing the tupple using loop
apple
banana
cherry
strawberry
raspberry
Using loop through index number
apple
banana
cherry
strawberry
raspberry
Printing using while loop
apple
banana
cherry
strawberry
raspberry
Join tupple
('a', 'b', 'c', 1, 2, 3)
Multiply tuple:
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
2
3

# 3_Set

> Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.              
> Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [16]:
s1 = {1,2,3,4}
s2 = {"Ali", 12334}
print(s1,s2)

s2 = s2.union(s1)
print(s2)
# discard delete in set
s2.discard(12334)
print(s2)

# add_adding in set
s2.add(10)
print(s2)


# union | , interactin &, difference, symmetric_difference

s4 = {1,4,6,8}
s5 ={1,9}
s4 = s4.union(s5)
print(s4)
#or
s4 = s5 | s4
print(s4)

s4 = s5 & s4
print(s4)

s4 = s4.difference(s5)
print(s4)

s4 = s4.symmetric_difference(s5)
print(s4)

{1, 2, 3, 4} {'Ali', 12334}
{1, 2, 3, 4, 'Ali', 12334}
{1, 2, 3, 4, 'Ali'}
{1, 2, 3, 4, 10, 'Ali'}
{1, 4, 6, 8, 9}
{1, 4, 6, 8, 9}
{1, 9}
set()
{1, 9}

In [15]:
# WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one. Use subject name as key & marks as value.

marks_dict = {}

x = int(input("Enter your Python marks :"))
marks_dict.update({"python" : x})

y= int(input("Enter your Calculus marks :"))
marks_dict.update({"Calculus" :  y})

z= int(input("Enter your DSA marks :"))
marks_dict.update({"DSA" : z})


print(marks_dict)

Enter your Python marks : 88
Enter your Calculus marks : 90
Enter your DSA marks : 84

{'python': 88, 'Calculus': 90, 'DSA': 84}